/*- Mobile: 375px
- Desktop: 1440px*/

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    /*colors*/
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desatured-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

* {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--pale-blue);
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom;   
    text-align: center;
}

#card {
    margin: auto;
    position: relative;
    top: 50vh;
    transform: translateY(-50%);
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 20px 20px -5px rgba(0, 0, 0, 0.2);
    width: 85vw;
    min-width: 280px;
    max-width: 340px;
}

#card > img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

#card > div {
    padding: 20px;
}

#card h2 {
    color: var(--dark-blue);
    font-weight: 900;
    font-size: 1.1em;
}

#card p {
    color: var(--desatured-blue);
    font-size: 0.8em;
    padding: 0 15px;
    line-height: 1.7em;
    margin-top: 20px;
}

#card .plan-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--very-pale-blue);
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}

#card .plan-container > div::before {
    content: '';
    background-image: url('images/icon-music.svg');
    background-size: 80%;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    left: 30px;
    width: 50px;
    height: 50px;
}

.plan-container > div {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 2px;
    height: 50px;
}

.plan-desc {
    font-size: 0.8em;
    font-weight: 900;
    color: var(--dark-blue);
}

.plan-value {
    font-size: 0.8em;
    font-weight: 600;
    color: var(--desatured-blue);
}

.plan-container > a {
    font-weight: 900;
    font-size: 0.7em;
    color: var(--bright-blue);
    transition: color 300ms;
    margin-right: 3px;
}

.plan-container > a:hover {
    color: var(--desatured-blue);
}

#card .proceed-button {
    display: block;
    margin-top: 20px;
    padding: 12px;
    font-weight: 700;
    text-decoration: none;
    font-size: 0.8em;
    background-color: var(--bright-blue);
    color: white;
    border-radius: 10px;
    box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.5);
    transition: background-color 300ms;
}

#card .proceed-button:hover {
    background-color: hsl(251, 51%, 61%);
}

#card .cancel-button {
    display: block;
    margin-top: 20px;
    font-weight: 900;
    text-decoration: none;
    font-size: 0.8em;
    color: var(--desatured-blue);
    margin-bottom: 5px;
    transition: color 300ms;
}

#card .cancel-button:hover {
    color: var(--dark-blue)
}