@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
//- Mobile: 375px
//- Desktop: 1440px

// Colors
$very-dark-magenta: hsl(300, 43%, 22%);
$light-magenta: hsl(300, 75%, 47%);
$soft-pink: hsl(336, 5%, 36%);
$dark-grayish-magenta: hsl(303, 10%, 53%);
$light-grayish-magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

// Typography
@mixin spartan-400 {
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
}

@mixin spartan-500 {
    font-family: 'Spartan', sans-serif;
    font-weight: 500;
}

@mixin spartan-700 {
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
}