@import 'variables';

* {
    padding: 0;
    outline: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-size: 12px;
    background-color: $soft-violet;
    background-image: linear-gradient(to bottom, $soft-violet, $soft-blue);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

main {
    position: relative;
    max-width: 920px;
    width: 90%;
    background-color: white;
    background-image: url('../images/illustration-woman-online-desktop.svg'),
                      url('../images/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: -50px center;
    padding: 50px;
    padding-left: 400px;
    border-radius: 20px;
    box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.3);
    margin: 20px 0;

    &:after {
        content: url('../images/illustration-box-desktop.svg');
        position: absolute;
        top: calc(50% - 50px);
        left: -100px;
    }

    h1 {
        @include main-font-heavy;
        color: $very-dark-desaturated-blue;
        font-size: 2.4em;
        margin-bottom: 20px;
    }

    dl {
        width: 100%;
        border-bottom: 1px solid $light-grayish-blue;
    
        dt {
            display: flex;
            justify-content: space-between;
            padding: 20px 10px;
            cursor: pointer;
            @include main-font-light;
            font-size: 1.2em;
            color: $very-dark-grayish-blue;            
            transition: color 1s, transform 1s;

            &::after {
                content: url('../images/icon-arrow-down.svg');
                transition: transform 500ms;
            }

            &[class="show-detail"] {
                @include main-font-heavy;
                color: $very-dark-desaturated-blue;

                &::after {
                    content: url('../images/icon-arrow-down.svg');
                    transform: rotate(-180deg);
                }
            }

            &:hover {
                color: $soft-red;
            }
        }
    
        dd {
            @include main-font-light;
            color: $dark-grayish-blue;
            padding: 0 10px;
            font-size: 1.1em;
            line-height: 1.5em;
            max-height: 0px;
            overflow: hidden;
            margin-bottom: 0;
            transition: max-height 1s ease 0s, margin-bottom 500ms ease 100ms;

            &[class="show-detail"] {
                max-height: 100px; 
                margin-bottom: 20px;
            }
        }
    }
}

@media (max-width: 800px) {
    body{
        height: auto;
    }
    main {
        position: relative;
        background-image: none;
        padding: 20px;
        padding-top: 120px;
        margin-top: 100px;
        margin-bottom: 0px;


        h1{
            text-align: center;
            margin-bottom: 10px;
        }
        
        &:after {
            content: '';
            background-image: url('../images/bg-pattern-mobile.svg')
             , url('../images/illustration-woman-online-mobile.svg')
                              ;
            background-repeat: no-repeat;
            background-size: 100%;
            background-position-y: bottom, 30px;
            margin-bottom: 100px;
            position: absolute;
            width: 250px;
            height: 250px;
            top: -140px;
            left: 50%;
            transform: translate(-50%);
        }  
    }
}